#root{
    max-height: 90vh;
    width: 35vw;
    background-color: #f0f0f0;
}
#cabecera{
    padding: .7em 2em .7em .7em;
    border: 1px solid #dbdbdb;
    margin-bottom: .7em;
    position: relative;
    border-bottom: 4px solid #888282;
}
.error{
    padding: .2em;
    color: rgb(151, 3, 2);
}
#cli{
    padding: .7em;
    border: 1px solid #dbdbdb;
    border-radius: .3em;
}
.aspa{
    position: absolute;
    top: 0.5em;
    right: 0.7em;
    padding: 0.7em 0 0 0.7em;
    background-image: url('../img/cross.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: .7em;
    &:hover{
        background-color: #999;
        border: 1px solid #dbdbdb;
    }
}
.observaciones{
    padding: .9em;
}
.motivo{
    padding: .9em;
}
.botonera{
    display: flex;
    justify-content: flex-end;
    padding: .2em .7em;
    > div{
        margin-left: .7em;
        font: inherit;
        color: inherit;
        outline: none;
        padding: .2em .7em .2em 1.3em;
        border-radius: 0.1em;
        background-image:linear-gradient(#f9f9f9,#f1f1f1);
        border: 1px solid #bdbdbd;
        box-shadow: rgb(120, 122, 116) 0px 2px 1px -1px, rgb(255, 255, 255) 0px 1px 0px 0px inset;
        cursor: pointer;
        transition: opacity 0.3s ease;
        position: relative;
        &:not([disabled]){
            &:hover{
                opacity: .7;
            }
        }

        &::before{
            content:'';
            position: absolute;
            top: 0.4em;
            left: 0.2em;
            padding: .9em 0 0 .9em;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        &.aceptar{
            &::before{
                background-image: url('../img/agree.svg');
            }
            margin-right: .7em;
            border-bottom: 2px solid rgb(172, 182, 0);
            &[disabled]{
                background-image:linear-gradient(#a9a9a9, #e9e9e9);
            }
            &.progress{
                &::after{
                    content:'';
                    position: absolute;
                    top: 0.4em;
                    left: 0.2em;
                    padding: .9em 0 0 .9em;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url('../img/busy.svg');
                }
            }
        }
        &.cancelar{
            &::before{
                background-image: url('../img/error.svg');
            }
            border-bottom: 2px solid rgb(151, 3, 2);
        }
    }
}