*{
    box-sizing: border-box;
}
@font-face{
	font-family: "Bankia";
	src: url('./assets/bankia-regular-webfont-woff.woff') format('woff');
	font-weight: lighter; 
	font-style: normal;
}
@font-face{
	font-family: "Bankia";
	src: url('./assets/bankia-medium-webfont-woff.woff') format('woff');
	font-weight: normal; 
	font-style: normal;
}
@font-face{
	font-family: "Bankia";
	src: url('./assets/bankia-bold-webfont-woff.woff') format('woff');
	font-weight: bold; 
    font-style: normal;
}
body{
    /*margin: 0;*/
    font-family: "Bankia", verdana;
    color: #1f1f1f;
    font-size: .9em;
    font-weight: normal;
}
#root{
    display: flex;
    #propuestas{
        background-color: #f0f0f0;
        display: flex;
        flex-direction: column;
    }
    > div:not(#gestdoc){
        padding: 1.2em;
        flex-grow: 1;
        flex-basis: 0;
    }
    textarea{
        font: inherit;
        color: inherit;
        width: 100%;
        height: 100%;
        &.anim{
            animation: pr .5s ease;
            animation-direction: alternate
        }
    }
}
#prop{
    flex-grow: 1;
    flex-basis: 0;
    background-color: white;
    padding: .9em;
    overflow: auto;
}
#log{
    height: 12em;
    overflow: auto;
    padding: .9em;
}
#gestdoc{
    height: 600px;
    width: 80em;
}
#clientExpedientes, #clientTareas, #clientInmuebles{
    min-height: 5em;
    max-height: 25em;
    overflow: auto;
}
@keyframes pr{
	0%{
	}
	100%{
		background-color: yellowgreen;
	}

}
span.arbol{
    color: green;
}
/*bk-wc-gest-doc-tree{
    font-size: 12px;
}*/