<div class='client'>
    <div class='cuerpo'>
        <div class='filtros'>
            <div class='head'>FILTROS SOBRE RESULTADOS</div>
            <div class='ancla'><div class='reset'>Eliminar filtros</div></div>
            <div class='filter'></div>
        </div>
        <div class='resultados'>
            <div class='progress'></div>
            <div class='titulo'>Se han encontrado <b class='num'></b> resultados para "<b class='patron'></b>"</div>
            <div class='wall'>
                <div class='wallCartera'>
                    <div class='cap'>Mi cartera<div class='num'></div></div>
                    <div class='children'></div>
                </div>
                <div class='wallOficina'>
                    <div class='cap'>Mi oficina<div class='num'></div></div>
                    <div class='children'></div>
                </div>
                <div class='wallOtros'>
                    <div class='cap'>Otras oficinas<div class='num'></div></div>
                    <div class='children'></div>
                </div>
            </div>
        </div>
    </div>
    <div class='pie'><button class='boton'>Abandonar</button></div>
</div>